# Collezioni in python

### Liste
Contengono dati che possono cambiare - mutabile - possono contenere anche dati di tipo diversi in una stessa lista

### Tuple
Contengono dati che non possono cambiare - immutabili

### Set
Contengono dati unici non ordinati (ordinati secondo una funzione di hashing, quindi non lo decidiamo noi ma è python ad ordinare in autonomia)

### Dizionari
Contengono dati in formato chiave-valore

In [2]:
lista = [100, 200, 300] # una lista è racchiusa tra parentesi quadre

tupla = (100, 200, 300) # una tupla è racchiusa tra parentesi tonde

set = {100, 200, 300} # un set è racchiuso tra parentesi graffe

dizionario = {"Riccardo":100, "Giovanni":200, "Francesco":300} # un dizionario è racchiuso tra parentesi graffe ed ogni coppia di chiave:valore è diviso dai :

## Index

In [5]:
lista[0] # possiamo accedere a un determinato elemento della lista racchiudendolo tra quadre dopo il nome della lista

100

In [6]:
lista[-1] # possiamo anche accedere ai valori partendo dalla fine della lista con valore -1

300

## Slicing

In [ ]:
lista[0:2] # possiamo anche prendere una porzione di elementi della lista con lo slicing, indicando tra le quadre la posizione del valore di partenza e quello di fine +1 diviso dai :

[100, 200]

In [10]:
lista[:2] #se partiamo dall'inizio della lista (o dalla fine) possiamo anche omettere il limite esterno e indicare solo quello da cui vogliamo partire/arrivare

[100, 200]

In [11]:
lista[-2:]

[200, 300]

In [12]:
lista[1:]

[200, 300]

In [13]:
lista [::1] # se aggiungiamo un altro parametro allo slicing indichiamo l'ordine con cui accedere alla lista, in questo caso con valore positivo sarà normalmente da sx a dx

[100, 200, 300]

In [14]:
lista[::-1] # con valore negativo la lista verrà ripercorsa al contrario, partendo dalla fine

[300, 200, 100]

## Modifica e verifica

In [15]:
lista = [1, 2, 3, 5, 8, 13]
lista

[1, 2, 3, 5, 8, 13]

In [16]:
lista[3] = 10 # in questo modo possiamo modiifcare il valore in posizione 4 (cioè il valore 5) con un 10
lista

[1, 2, 3, 10, 8, 13]

In [18]:
lista[:2] = [90, 100] # possiamo utilizzare lo slicing anche per modificare una serie di valori che comunque dovranno essere dichiarati all'interno di una lista a loro volta. RICORDA che lo slicing si ferma alla posizione precedente di quella indicata (:2 prenderà solo i valori in posizione 0 e 1)
lista

[90, 100, 3, 10, 8, 13]

In [ ]:
nomi = ["Riccardo", "Giuseppe", "Giovanni"]
nomi.append("Francesco") # per aggiungere un valore alla lista usiamo la funzione .append scrivendo tra le parentesi tonde il nuovo/i valore/i (append perchè lo aggiunge in coda alla lista)
nomi

['Riccardo', 'Giuseppe', 'Giovanni', 'Francesco']

In [21]:
nomi.insert(2, "Marta") #per inserire invece un nuovo valore in una posizione specifica usiamo la funzione .insert che ha bisongo di due parametri: il primo la posizione in cui inserire il valore e di conseguenza il valore stesso
nomi

['Riccardo', 'Giuseppe', 'Marta', 'Giovanni', 'Francesco']

In [22]:
nomi.remove("Giuseppe") # per eliminare un valore specifico possiamo utilizzare la funzione .remove specificando esattamente il valore da eliminare
nomi

['Riccardo', 'Marta', 'Giovanni', 'Francesco']

In [23]:
nome_estratto = nomi.pop(0) # se invece vogliamo estrarre un valore (che comunque viene eliminato dalla lista) possiamo usare la funzione .pop indicando tra parentesi l'indice del valore. in questo caso possiamo salvare il valore in una variabile, ecco perchè ESTRARRE
print(nome_estratto, nomi)

Riccardo ['Marta', 'Giovanni', 'Francesco']

## Verifica

In [24]:
"Marta" in nomi # possiamo controllare se un valore specifico è contenuto dentro una lista dichiarando il valore IN e nome della lista

True

In [25]:
"Riccardo" in nomi

False

In [26]:
nomi.index("Giovanni") # con .index avremo come risultato la posizione del valoe che stiamo ricercando

1

In [27]:
nomi.append("Giovanni")
nomi.count("Giovanni") # se vogliamo sapere quante volte un valore è presente nella lista dobbiamo usare .count

2

## Liste annidate

In [28]:
#una lista può contenere qualsiasi tipo di dato, quindi anche delle liste
nomi = []

In [31]:
nomi = [
    ["Riccardo", "Giovanni", "Luca"],
    ["Marta", "Chiara", "Elena"],
    ["Prio", "Banana", "Il divo"]
]

In [32]:
nomi

[['Riccardo', 'Giovanni', 'Luca'],
 ['Marta', 'Chiara', 'Elena'],
 ['Prio', 'Banana', 'Il divo']]

In [34]:
nomi[2] #possiamo sempre usare l'index per accedere al valore in una determinata posizione, in questo caso ritornerà comunque una lista

['Prio', 'Banana', 'Il divo']

In [35]:
nomi[2][-1] # per trovare un elemento preciso della lista annidata basta utilizzare un doppio index (cerchiamo il divo)

'Il divo'

## Tuple

In [36]:
tupla = (1, 2, 3, 5, 8)
tupla

(1, 2, 3, 5, 8)

In [37]:
tupla[2] #possiamo usare l'index anche nelle tuple

3

In [38]:
tupla[:3]

(1, 2, 3)

Non si possono però assegnare nuovi valori alla tupla essendo immutabile

E' best practice quando vogliamo avere una serie di valori di tipo diverso usare una tupla

In [40]:
anagrafica = ("Riccardo", 30, True)
anagrafica

('Riccardo', 30, True)

In [41]:
tupla_multipla = (
    ("Riccardo", 31, True),
    ("Marta", 26, False)
)
tupla_multipla

(('Riccardo', 31, True), ('Marta', 26, False))

In [42]:
tupla_multipla[0]

('Riccardo', 31, True)

In [43]:
tupla_multipla[0][1]

31

In [44]:
tupla.count(8) # non possiamo usare funzioni di modifica (append - inserti - remove - pop) essendo la tupla immutabile, però possiamo iterarla come la lista e contare quante volte è presente un valore, per esempio

1

In [45]:
tupla.index(5)

3

In [46]:
3 in tupla

True

In [47]:
4 in tupla

False

## Stringhe come le tuple

Le stringhe si comportano praticamente come le tuple, sono anch'esse immutabili ma iterabili

In [48]:
stringa = "Riccardo"
stringa[3]

'c'

In [49]:
stringa.count("c")

2

In [50]:
"o" in stringa

True

## Set

Contiene elementi unici e non ordinati

In [2]:
set = {10, 10, 20, 30, 30, 40, 50, 25, 35, 15}
set # nota bene che i duplicati vengono eliminati e l'ordine cambiato (hashing dal più piccolo al più grande)

{10, 15, 20, 25, 30, 35, 40, 50}

Non possiamo usare l'index in un set perchè semplicemente non esiste una indicizzazione

Possiamo però utilizzare pop o in

In [ ]:
numero = set.pop() #in questo caso pop non ha bisogno del parametro come nelle liste (sarebbe difatti da specificare l'indice) - viene dunque estratto un valore a caso (a caso per noi) - ergo ha poco senso. viene comunque eliminato dal set
numero

10

In [7]:
set.add(33) # possiamo però aggiungere un valore specifico al set

In [8]:
set

{15, 20, 25, 30, 33, 50}

In [9]:
set.remove(33) #possiamo però eliminare un determinato valore con la funzione .remove che non richiede un indice ma un valore preciso

In [10]:
set

{15, 20, 25, 30, 50}

Per provare ad eliminare un valore da un set di cui non siamo sicuri sia presente al suo interno usiamo la funzione .discard

In [11]:
set.discard(99) # nel caso non sia presente il valore non otterremo una eccezione (errore) ma semplicemente non accadrà nulla. questo è molto importante da ricordare

In [12]:
set.clear() # usando .clear puliremo l'intero set lasciandolo dunque vuoto
set

set()

## Frozen set

Esiste la versione immutabile dei set chiamato Frozen Set

In [14]:
frozen = frozenset({"a", "b", "c"})
type(frozen)

frozenset

# Dizionari

In [16]:
pagella = {"Italiano":7, "Inglese":8, "Matematica":6, "Storia":5}
pagella

{'Italiano': 7, 'Inglese': 8, 'Matematica': 6, 'Storia': 5}

Il dizionario è mutabile, invece che utilizzare l'indice utilizzeremo dunque la chiave

In [17]:
pagella["Inglese"]

8

In [19]:
pagella["Italiano"] = 6 # così modifichiamo il valore associato alla chiave "Italiano"
pagella["Italiano"]

6

Possiamo anche aggiungere una coppia di chiave-valore che non esiste già all'interno della dict, semplicemente associando il valore alla chiave indicizzata

In [22]:
pagella["Religione"] = 2 # verrà aggiunta alla fine come se usassimo append
pagella

{'Italiano': 6, 'Inglese': 8, 'Matematica': 6, 'Storia': 5, 'Religione': 2}

Un dizionario può essere composto a sua volta da altri dizionari

In [ ]:
pagella["Francese"] = {"grammatica": 5, "letteratura": 9} # in questo caso il dizionario aggiunto è il valore della chiave "Francese"
pagella

{'Italiano': 6,
 'Inglese': 8,
 'Matematica': 6,
 'Storia': 5,
 'Religione': 2,
 'Francese': {'grammatica': 5, 'letteratura': 9}}

In [25]:
pagella.pop("Francese") # eliminiamo una chiave e il conseguente valore dalla dict

{'grammatica': 5, 'letteratura': 9}

In [26]:
pagella

{'Italiano': 6, 'Inglese': 8, 'Matematica': 6, 'Storia': 5, 'Religione': 2}

In [27]:
pagella.values() #possiamo estrarre solo i valori invece che le chiavi da una dict e inserirla volendo dentro una lista

dict_values([6, 8, 6, 5, 2])

In [30]:
voti = list(pagella.values()) # ricordati di specificare il casting altrimenti col cazzo che lo fa
voti

[6, 8, 6, 5, 2]

In [ ]:
pagella.keys() # possiamo ovviamente estrarre anche solo le chiavi

dict_keys(['Italiano', 'Inglese', 'Matematica', 'Storia', 'Religione'])

In [32]:
materie = list(pagella.keys())
materie

['Italiano', 'Inglese', 'Matematica', 'Storia', 'Religione']

## Lunghezza di una collezione

In [35]:
lista = [1, 3, 5, 7, 9]
len(lista) # len restitusice il NUMERO di valori all'interno della lista

5

In [36]:
tupla = ("Riccardo", "Marta", 50)
len(tupla) # funziona anche con le tuple

3

In [37]:
set = {"Riccardo", "Marta", "Elena", "Berto"}
len(set) # funziona anche con i set

4

In [39]:
dizionario = {"uova":5, "farina":500, "acqua":1}
len(dizionario) # funziona anche con i dizionari - resituirà il numero di coppie chiave-valore

3

## Casting tra collezioni

In [1]:
lista_nomi = ["Riccardo", "Marta", "Jimmy", "Emma"]
type(lista_nomi)

list

In [2]:
tupla_nomi = tuple(lista_nomi)
print(type(tupla_nomi), tupla_nomi)

<class 'tuple'> ('Riccardo', 'Marta', 'Jimmy', 'Emma')

In [4]:
set_nomi = set(tupla_nomi) # perderà dunque ordine e duplicati
print(type(set_nomi), set_nomi)

<class 'set'> {'Marta', 'Emma', 'Riccardo', 'Jimmy'}

In [5]:
#possiamo anche fare un casting da una tupla di tuple ad una dict
nomi_eta = (("Riccardo", 31), ("Jimmy", 32), ("Marta", 26))
nomi_eta

(('Riccardo', 31), ('Jimmy', 32), ('Marta', 26))

In [ ]:
dizionario_nomi = dict(nomi_eta) # funziona solo con una tupla di tuple e con il formato corretto come il precedente (2 valori per tupla)
print(type(dizionario_nomi), dizionario_nomi)

<class 'dict'> {'Riccardo': 31, 'Jimmy': 32, 'Marta': 26}

Possiamo anche passare da due liste a una dict ma prima dobbiamo ricreare la forma tupla di tuple con la funzione zip()

In [7]:
nomi = ["Riccardo", "Jimmy", "Marta"]
anni = [31, 32, 26]

In [8]:
nomi_anni = zip(nomi, anni)
nomi_anni # restituisce però un "generatore", per farlo diventare effettivamente una tupla di tuple dobbiamo usare il casting

In [10]:
nomi_anni = tuple(nomi_anni)
nomi_anni

(('Riccardo', 31), ('Jimmy', 32), ('Marta', 26))

In [12]:
# possiamo quindi saltare questo step e castare direttamente lo zip in una dict
dict_nomi_anni = dict(zip(nomi, anni))
dict_nomi_anni

{'Riccardo': 31, 'Jimmy': 32, 'Marta': 26}

## Copia vs Riferimento

In [13]:
lista1 = ["cane", "gatto", "topo"] #creo la prima lista
lista2 = lista1 #creo una seconda lista uguale alla prima
lista2[1] = "tigre" # "modifico" la seconda lista
lista2

['cane', 'tigre', 'topo']

In [ ]:
lista1 # anche la prima lista si è modificata

['cane', 'tigre', 'topo']

Il concetto è che quando definiamo una variabile con dei valori viene allocato uno spazio di memoria e dentro la variabile viene in verità inserito il puntatore di quella memoria allocata <br>
Dunque se creiamo una seconda variabile definendola con una già esistente non gli stiamo di fatto copiando dentro i dati ma lo stesso puntatore di memoria <br>
Se quindi modifichiamo una di quelle variabili anche l'altra ritornerà gli stessi valori modificati

In [15]:
id(lista1)

4431837696

In [16]:
id(lista2)

4431837696

In [ ]:
l1 = ["cane", "gatto", "topo"]
l2 = ["cane", "gatto", "topo"] # in questo caso nonostante siano uguali python crea due diversi spazi di memoria, quindi due variabili distinte
print(id(l1), id(l2))

4431835648 4432016384

Per evitare di dover riscrivere le variabili uguali come sopra dobbiamo usare la funzione .copy

In [23]:
lista1 = ["cane", "gatto", "topo"]
lista2 = lista1.copy()

In [24]:
print(id(lista1), id(lista2))

4432262464 4431653504

In [25]:
print(lista1, lista2)

['cane', 'gatto', 'topo'] ['cane', 'gatto', 'topo']

In [26]:
lista1[1] = "tigre"
lista1

['cane', 'tigre', 'topo']

In [27]:
lista2

['cane', 'gatto', 'topo']